/public/hot

/public/js/bundle
/public/images/vendor
/public/js/main.js
/public/js
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/sessions
/vendor
composer.json
package.json
package-lock.json
.env
.env.backup
composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
